html {
  box-sizing: border-box;
  background-color: #0f1819;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}
main {
  /* height: 30rem; */
  height: 1000px;
  color: #fff;
  border-bottom: 2rem;
}
