/* ESTILOS CARROUSEL */

.carousel-item .carousel-caption {
  height: 100%;
}

.carousel-inner {
    
    height: 10rem;
}

.slider-btn{
  display: flex;
  margin-top:30px;
}


.btnCarousel{ 
  background-color: black;
  color:white;
  border-radius: 10px;
  padding: 0.2rem 2rem;
  font-size: 1rem;
  font-weight:bold;
  margin-right: 15px;
  opacity: 70%;
  box-shadow: 3px white ;
  color: white;

}

.btnCarousel:hover{
  background-color: #A48339;

}

.cuerpo{
margin: 5%;
}

.containerImg_img{
  width: 100%;
}

.contenido{
  display: none;

}

.containerBanner{
  background-color: black;
  opacity: 60%;
  border-radius: 1rem;
}


.containerDescription{
  padding-bottom: 13rem;
  display: none;
}

.textoBanner{
  background-color: black;
  opacity: 60%;
  border-radius: 22px;
  width: 50%;
}


  .carousel-caption h5{
    font-size: 2rem;
    margin-top: 0.5rem;
   }

   .carousel-caption p{
    font-size: 1rem;
  }

  .containerValores {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
  }

  .containerMision {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
  }

  .containerMision__title{
    font-size: 2.5rem;
    font-family:"Montserrat", sans-serif;
    color: #ba954e;

  }

  .containerTitle{
      display: flex;
      color: #ba954e;
    font-size: 3rem;

  }

 

  .containerImg__img{
    border-radius: 1rem;
    margin-bottom: 1rem;
  }

  .containerList {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 10px white ;
}


  .containerVision{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 5%;
}

.containerVision__title{
  color: #ba954e;
  font-size: 2.5rem;
 font-family:  "Montserrat", sans-serif;
}



  /* MEDIASQUERYS */
  @media (min-width: 768px) { 
    .carousel-inner {
      height: 25rem;
    }
    
    .carousel-caption{
        width: 100%;
        padding-bottom: 1rem;
      
    }
    .carousel-caption h5{
      font-size: 3rem;
    
    }

    .carousel-caption p{
      font-size: 1.7rem;
    
    }

    .btnCarousel{ 
      padding:1.2rem 2rem;
    }
   
    .containerDescription{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
    }
  
    .containerBanner{
      width: 70%;
    }
  
    .contenido{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 5rem;
      padding-bottom: 13rem;
    }
  
    .carousel-inner .carousel-item {
      height: 575px;
    }
  
    .carousel-item .carousel-caption{
       right:0;
       left:0;
    }
  
    .containerValores{
      display:grid;
        align-items: center;
        justify-items: center;
        margin-top: 5%;
    }
  
    .containerTitle{
      justify-content: space-evenly;
      margin-top: 3%;
     
    }
  
    .containerList{
      display: flex;
      width: 100%;
      justify-content: space-around;
      flex-direction: row-reverse;
    }
  
    .containerList li {
      list-style:disc;
      font-size: 1.6rem;
      font-family: "Roboto", sans-serif;
      color: #fff;
    }
  
    .containerMision{
      display: grid;
      grid-template-columns: 50% 60%;
      justify-items: center;
      margin-top: 5%;
    }
  
    .containerMision__description{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 70%;
    }
  
 
  
    .containerMision__p{
      font-size: 1.6rem;
      font-family: "Roboto", sans-serif;
      color: #fff;
    }
  
    .containerVision{
      display: grid;
      grid-template-columns: 50% 60%;
      justify-items: center;
      margin-top: 5%;
    }
  
    .containerMision, .containerVision
    {
      color: #fff;
      padding: 1rem;
  
    }
  
    .containerVision__description{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 92%;
    }
  
    
  
    .containerVision__p{
      font-size: 1.6rem;
      font-family: "Roboto", sans-serif;
      text-align: justify;
    }
  
    .containerImg{
      display: flex;
      align-items: center;
    }
  
    .containerImg__img{
      width: 450px;
      border-radius: 1rem;
    }
  
    .textoContenido p{
      font-size: 1.5rem;
      font-family: "Montserrat", sans-serif;
    }
  
    .textoContenido h1{
      font-family: "Montserrat", sans-serif;
    }
  
    .carousel-inner .carousel-item {
      height: 34.37rem;
    }
    
  
  }

  @media (min-width: 992px) { 
    .containerBanner {
      width: 61%;
      line-height: 2;
  }

  .carousel-inner .carousel-item {
    height: 45rem;
  }

  }


  